.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  color: white;
}

.container div {
  display: flex;
  gap: 1rem;
}

.container button {
  padding: 1rem;
  border-radius: 0.25rem;
  border: none;

  transition: filter 0.2s;
}

.container button:hover {
  cursor: pointer;

  filter: brightness(0.8);
}
